#Latex
*.synctex.gz
*.log
*.aux
*.out
*eps-converted-to.pdf
*.toc
*.snm
*.nav
*.bbl
*.blg

#Python
*.pyc
*__pycache__/
*.DS_Store
*.ipynb_checkpoints/
*.idea/

#Folders
*data/
*res/
*results/
*untracked/
